<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SDETProject" >
	<listeners>
		<listener class-name="com.SDET.Utility.Reporting"></listener>
	</listeners>
 <test name="SDET Testing">
    <classes>
   		  <class name="com.SDET.TestCase.TC_LoginTest_001"/> 
   		  <class name="com.SDET.TestCase.TC_SeleniumTest_004"/> 
   		<!--  <class name="com.SDET.TestCase.TC_LoginTest_002"/>    -->
   		<!-- <class name="com.SDET.TestCase.TC_AddCustomer_003"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->